*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkolivegreen;
}

.dropArea{
    border: 5px dashed;
    margin-top: 20px;

    .rowArea{
        height: 300px;

        .title{
            h2{
                color: rgb(222, 201, 201);
            }
        }
    }
}